html, body {
	height: 100%;
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    align-items: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#pictures {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#btns {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    /*border: solid 1px black;*/
}

.primebutton {
    margin-right: 20px;
}